[Unit]
Description=Docker Daemon
After=network.target


[Service]
ExecStart=/usr/bin/dockerd -p /var/run/docker.pid -s overlay
Type=simple
Restart=always

[Install]
WantedBy=multi-user.target
