{
  "CN": "etcd",
  "hosts": [
    "127.0.0.1",
    {% for host in groups["etcd"] %}{{ host }}{% if loop.index != groups['etcd']|length %},{%endif%}
    
    {% endfor %}
  ],
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
      "C": "CN",
      "ST": "Xian",
      "L": "Xian",
      "O": "k8s",
      "OU": "System"
    }
  ]
}
