[Unit]
Description=Etcd Server
After=network.target
After=network-online.target
Wants=network-online.target

[Service]
Type=notify
ExecStart=/usr/bin/etcd -name {{ ansible_hostname }} -data-dir /var/lib/etcd \
-listen-client-urls http://0.0.0.0:2379,http://0.0.0.0:4001 \
-advertise-client-urls http://0.0.0.0:2379 \
--initial-advertise-peer-urls http://{{ ansible_ssh_host }}:2380 \
--listen-peer-urls http://{{ ansible_ssh_host }}:2380 \
--initial-cluster-token {{etcd_cluster_token}} \
--initial-cluster {% for host in groups["etcd-servers"] %}{{ hostvars[host]['ansible_hostname'] }}=http://{{ hostvars[host]['ansible_default_ipv4']['address'] }}:2380,{% endfor %} \
--initial-cluster-state new

Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
