---
apiVersion: v1
kind: Pod
metadata:
  name: kube-proxy
  namespace: kube-system
  labels:
    k8s-app: kube-proxy
spec:
  containers:
    -
      command:
        - /usr/bin/run.sh
        - "--master=https://{{ groups["k8s-master"][0]}}:6443 --proxy-mode=iptables"
        - "--logtostderr=true --kubeconfig=/etc/kubernetes/kubeconfig-kubelet"

      #image: "duizhang/kube-proxy:1.4.7-run"
      image: "duizhang/kube-proxy:1.5.1"
      name: kube-proxy
      securityContext:
        privileged: true
      volumeMounts:
        -
          mountPath: /opt/k8s
          name: ssl-certs
          readOnly: true
        -
          mountPath: /etc/kubernetes
          name: etc-kube-ssl
          readOnly: true
  hostNetwork: true
  volumes:
    -
      hostPath:
        path: /opt/k8s
      name: ssl-certs
    -
      hostPath:
        path: /etc/kubernetes
      name: etc-kube-ssl
