---
apiVersion: v1
kind: Pod
metadata:
  name: flannel
  namespace: kube-system
  labels:
    k8s-app: flannel
spec:
  containers:
    -
      command:
        - /usr/bin/run.sh
        - "-etcd-endpoints={% for host in groups["etcd-servers"] %}http://{{ host }}:4001,{% endfor %}"

      image: "flannel:5.0"

      name: kube-dns
      securityContext:
        privileged: true
      volumeMounts:
        -
          mountPath: /var/run
          name: rundir
        -
          mountPath: /dev/net
          name: netdir

  hostNetwork: true
  volumes:
    -
      hostPath:
        path: /var/run
      name: rundir
    -
      hostPath:
        path: /dev/net
      name: netdir
