[Unit]
Description=Flanneld Server
After=network.target
After=network-online.target
Wants=network-online.target

[Service]
Type=notify
ExecStart=/usr/bin/flanneld -etcd-endpoints=http://{{ groups["etcd-servers"][0] }}:4001

Restart=on-failure
