---
apiVersion: v1
kind: Pod
metadata:
  name: kube-dns
  namespace: kube-system
  labels:
    k8s-app: kube-dns
spec:
  containers:
    -
      command:
        - /usr/bin/run.sh
        - "--dns-port=53 --domain=cluster.local"
        - "--kube-master-url=https://{{ groups["k8s-master"][0] }}:6443"
        - "--kubecfg-file=/etc/kubernetes/kubeconfig-master"

      #image: "duizhang/kube-dns:1.4.7-run"
      image: "duizhang/kube-dns:1.5.1"
      name: kube-dns
      securityContext:
        privileged: true
      volumeMounts:
        -
          mountPath: /opt/k8s
          name: ssl-certs
          readOnly: true
        -
          mountPath: /etc/kubernetes
          name: etc-kube-ssl
          readOnly: true
  hostNetwork: true
  volumes:
    -
      hostPath:
        path: /opt/k8s
      name: ssl-certs
    -
      hostPath:
        path: /etc/kubernetes
      name: etc-kube-ssl
