---
apiVersion: v1
kind: Pod
metadata:
  name: kube-controller-manager
  namespace: kube-system
  labels:
    k8s-app: kube-controller-manager
spec:
  containers:
    -
      command:
        - /usr/bin/run.sh
        - "--master={{ ansible_ssh_host }}:8080 --master=https://{{ ansible_ssh_host }}:6443"
        - "--service_account_private_key_file=/opt/k8s/cert/server.key"
        - "--root-ca-file=/opt/k8s/cert/ca.crt --kubeconfig=/etc/kubernetes/kubeconfig-master"
        - "--logtostderr=true"
        
      image: "kube-controller-manager:5.0"
      imagePullPolicy: IfNotPresent

      name: kube-controller-manager

      volumeMounts:
        -
          mountPath: /etc/kubernetes/
          name: ssl-certs-kubernetes
          readOnly: true
        -
          mountPath: /opt/k8s
          name: sslcert
          readOnly: true

  dnsPolicy: ClusterFirst
  hostNetwork: true
  restartPolicy: Always
  terminationGracePeriodSeconds: 30
  volumes:
    -
      hostPath:
        path: /etc/kubernetes/
      name: ssl-certs-kubernetes
    -
      hostPath:
        path: /opt/k8s
      name: sslcert
