error_log stderr notice;

worker_processes auto;
events {
  multi_accept on;
  use epoll;
  worker_connections 1024;
}

stream {
    upstream kube_apiserver {
        least_conn;
        {% for host in groups["masters"] %}server {{ host }}:6443;
        {% endfor %}

    }

    server {
        listen        0.0.0.0:{{ PROXY_PORT }};
        proxy_pass    kube_apiserver;
        proxy_timeout 10m;
        proxy_connect_timeout 1s;
    }
}
